<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="references">
      <h2 data-cy="referencesDetailsHeading"><span jhiTranslate="sudexApp.references.detail.title">References</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ references.id }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.references.name" [ngbTooltip]="'sudexApp.references.help.name' | translate">Name</span></dt>
        <dd>
          <span>{{ references.name }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.references.assessment">Assessment</span></dt>
        <dd>
          <div *ngIf="references.assessment">
            <a [routerLink]="['/assessment', references.assessment.id, 'view']">{{ references.assessment.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/references', references.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
