<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-listener-heading" data-cy="ListenerCreateUpdateHeading" jhiTranslate="sudexApp.listener.home.createOrEditLabel">
        Create or edit a Listener
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.listener.phone"
            for="field_phone"
            [ngbTooltip]="'sudexApp.listener.help.phone' | translate"
            >Phone</label
          >
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
          <div *ngIf="editForm.get('phone')!.invalid && (editForm.get('phone')!.dirty || editForm.get('phone')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('phone')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('phone')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 15 }"
            >
              This field cannot be longer than 15 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.listener.region"
            for="field_region"
            [ngbTooltip]="'sudexApp.listener.help.region' | translate"
            >Region</label
          >
          <input type="text" class="form-control" name="region" id="field_region" data-cy="region" formControlName="region" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.listener.workplace"
            for="field_workplace"
            [ngbTooltip]="'sudexApp.listener.help.workplace' | translate"
            >Workplace</label
          >
          <input type="text" class="form-control" name="workplace" id="field_workplace" data-cy="workplace" formControlName="workplace" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.listener.dateOfBirth"
            for="field_dateOfBirth"
            [ngbTooltip]="'sudexApp.listener.help.dateOfBirth' | translate"
            >Date Of Birth</label
          >
          <input
            type="text"
            class="form-control"
            name="dateOfBirth"
            id="field_dateOfBirth"
            data-cy="dateOfBirth"
            formControlName="dateOfBirth"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.listener.condition"
            for="field_condition"
            [ngbTooltip]="'sudexApp.listener.help.condition' | translate"
            >Condition</label
          >
          <select class="form-control" name="condition" formControlName="condition" id="field_condition" data-cy="condition">
            <option [ngValue]="null">{{ 'sudexApp.ConditionType.null' | translate }}</option>
            <option *ngFor="let conditionType of conditionTypeValues" [value]="conditionType">
              {{ 'sudexApp.ConditionType.' + conditionType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.listener.type"
            for="field_type"
            [ngbTooltip]="'sudexApp.listener.help.type' | translate"
            >Type</label
          >
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'sudexApp.StudyType.null' | translate }}</option>
            <option *ngFor="let studyType of studyTypeValues" [value]="studyType">
              {{ 'sudexApp.StudyType.' + studyType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sudexApp.listener.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sudexApp.listener.contract" for="field_contract">Contract</label>
          <select
            class="form-control"
            id="field_contract"
            data-cy="contract"
            name="contract"
            formControlName="contract"
            [compareWith]="compareAttachment"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="attachmentOption" *ngFor="let attachmentOption of attachmentsSharedCollection">
              {{ attachmentOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sudexApp.listener.course" for="field_course">Course</label>
          <select
            class="form-control"
            id="field_course"
            data-cy="course"
            name="course"
            formControlName="course"
            [compareWith]="compareCourse"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="courseOption" *ngFor="let courseOption of coursesSharedCollection">{{ courseOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
