<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="topic">
      <h2 data-cy="topicDetailsHeading"><span jhiTranslate="sudexApp.topic.detail.title">Topic</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ topic.id }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.topic.name" [ngbTooltip]="'sudexApp.topic.help.name' | translate">Name</span></dt>
        <dd>
          <span>{{ topic.name }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.topic.priority" [ngbTooltip]="'sudexApp.topic.help.priority' | translate">Priority</span></dt>
        <dd>
          <span>{{ topic.priority }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.topic.hour" [ngbTooltip]="'sudexApp.topic.help.hour' | translate">Hour</span></dt>
        <dd>
          <span>{{ topic.hour }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.topic.modul">Modul</span></dt>
        <dd>
          <div *ngIf="topic.modul">
            <a [routerLink]="['/modul', topic.modul.id, 'view']">{{ topic.modul.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/topic', topic.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
