<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-topic-heading" data-cy="TopicCreateUpdateHeading" jhiTranslate="sudexApp.topic.home.createOrEditLabel">
        Create or edit a Topic
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.topic.name"
            for="field_name"
            [ngbTooltip]="'sudexApp.topic.help.name' | translate"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.topic.priority"
            for="field_priority"
            [ngbTooltip]="'sudexApp.topic.help.priority' | translate"
            >Priority</label
          >
          <input type="number" class="form-control" name="priority" id="field_priority" data-cy="priority" formControlName="priority" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.topic.hour"
            for="field_hour"
            [ngbTooltip]="'sudexApp.topic.help.hour' | translate"
            >Hour</label
          >
          <input type="number" class="form-control" name="hour" id="field_hour" data-cy="hour" formControlName="hour" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sudexApp.topic.modul" for="field_modul">Modul</label>
          <select class="form-control" id="field_modul" data-cy="modul" name="modul" formControlName="modul" [compareWith]="compareModul">
            <option [ngValue]="null"></option>
            <option [ngValue]="modulOption" *ngFor="let modulOption of modulsSharedCollection">{{ modulOption.name }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
