<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="assessment">
      <h2 data-cy="assessmentDetailsHeading"><span jhiTranslate="sudexApp.assessment.detail.title">Assessment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ assessment.id }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.assessment.type" [ngbTooltip]="'sudexApp.assessment.help.type' | translate">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'sudexApp.AssessmentType.' + assessment.type }}">{{ assessment.type }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.assessment.topic">Topic</span></dt>
        <dd>
          <div *ngIf="assessment.topic">
            <a [routerLink]="['/topic', assessment.topic.id, 'view']">{{ assessment.topic.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/assessment', assessment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
