<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-modul-heading" data-cy="ModulCreateUpdateHeading" jhiTranslate="sudexApp.modul.home.createOrEditLabel">
        Create or edit a Modul
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.modul.name"
            for="field_name"
            [ngbTooltip]="'sudexApp.modul.help.name' | translate"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.modul.decription"
            for="field_decription"
            [ngbTooltip]="'sudexApp.modul.help.decription' | translate"
            >Decription</label
          >
          <input
            type="text"
            class="form-control"
            name="decription"
            id="field_decription"
            data-cy="decription"
            formControlName="decription"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sudexApp.modul.block" for="field_block">Block</label>
          <select class="form-control" id="field_block" data-cy="block" name="block" formControlName="block" [compareWith]="compareBlock">
            <option [ngValue]="null"></option>
            <option [ngValue]="blockOption" *ngFor="let blockOption of blocksSharedCollection">{{ blockOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
