<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="question">
      <h2 data-cy="questionDetailsHeading"><span jhiTranslate="sudexApp.question.detail.title">Question</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ question.id }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.question.name" [ngbTooltip]="'sudexApp.question.help.name' | translate">Name</span></dt>
        <dd>
          <span>{{ question.name }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.question.requiredScore" [ngbTooltip]="'sudexApp.question.help.requiredScore' | translate"
            >Required Score</span
          >
        </dt>
        <dd>
          <span>{{ question.requiredScore }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.question.type" [ngbTooltip]="'sudexApp.question.help.type' | translate">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'sudexApp.QuestionType.' + question.type }}">{{ question.type }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.question.test">Test</span></dt>
        <dd>
          <div *ngIf="question.test">
            <a [routerLink]="['/topic-test', question.test.id, 'view']">{{ question.test.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/question', question.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
