<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="modul">
      <h2 data-cy="modulDetailsHeading"><span jhiTranslate="sudexApp.modul.detail.title">Modul</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ modul.id }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.modul.name" [ngbTooltip]="'sudexApp.modul.help.name' | translate">Name</span></dt>
        <dd>
          <span>{{ modul.name }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.modul.decription" [ngbTooltip]="'sudexApp.modul.help.decription' | translate">Decription</span>
        </dt>
        <dd>
          <span>{{ modul.decription }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.modul.block">Block</span></dt>
        <dd>
          <div *ngIf="modul.block">
            <a [routerLink]="['/block', modul.block.id, 'view']">{{ modul.block.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/modul', modul.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
