<div>
  <h2 id="page-heading" data-cy="TestResultHeading">
    <span jhiTranslate="sudexApp.testResult.home.title">Test Results</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sudexApp.testResult.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-test-result"
        [routerLink]="['/test-result/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sudexApp.testResult.home.createLabel"> Create a new Test Result </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="testResults?.length === 0">
    <span jhiTranslate="sudexApp.testResult.home.notFound">No Test Results found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="testResults && testResults.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startedAt">
            <div class="d-flex">
              <span jhiTranslate="sudexApp.testResult.startedAt">Started At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="finishedAt">
            <div class="d-flex">
              <span jhiTranslate="sudexApp.testResult.finishedAt">Finished At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="score">
            <div class="d-flex">
              <span jhiTranslate="sudexApp.testResult.score">Score</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="correctAnswers">
            <div class="d-flex">
              <span jhiTranslate="sudexApp.testResult.correctAnswers">Correct Answers</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="test.id">
            <div class="d-flex">
              <span jhiTranslate="sudexApp.testResult.test">Test</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let testResult of testResults; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/test-result', testResult.id, 'view']">{{ testResult.id }}</a>
          </td>
          <td>{{ testResult.startedAt | formatMediumDatetime }}</td>
          <td>{{ testResult.finishedAt | formatMediumDatetime }}</td>
          <td>{{ testResult.score }}</td>
          <td>{{ testResult.correctAnswers }}</td>
          <td>
            <div *ngIf="testResult.test">
              <a [routerLink]="['/topic-test', testResult.test.id, 'view']">{{ testResult.test.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/test-result', testResult.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/test-result', testResult.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(testResult)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="testResults && testResults.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
