<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="block">
      <h2 data-cy="blockDetailsHeading"><span jhiTranslate="sudexApp.block.detail.title">Block</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ block.id }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.block.name" [ngbTooltip]="'sudexApp.block.help.name' | translate">Name</span></dt>
        <dd>
          <span>{{ block.name }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.block.course">Course</span></dt>
        <dd>
          <div *ngIf="block.course">
            <a [routerLink]="['/course', block.course.id, 'view']">{{ block.course.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="sudexApp.block.specialization">Specialization</span></dt>
        <dd>
          <div *ngIf="block.specialization">
            <a [routerLink]="['/specialization', block.specialization.id, 'view']">{{ block.specialization.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/block', block.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
