<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="course">
      <h2 data-cy="courseDetailsHeading"><span jhiTranslate="sudexApp.course.detail.title">Course</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ course.id }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.course.name" [ngbTooltip]="'sudexApp.course.help.name' | translate">Name</span></dt>
        <dd>
          <span>{{ course.name }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.course.centre" [ngbTooltip]="'sudexApp.course.help.centre' | translate">Centre</span></dt>
        <dd>
          <span jhiTranslate="{{ 'sudexApp.Centre.' + course.centre }}">{{ course.centre }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.course.language" [ngbTooltip]="'sudexApp.course.help.language' | translate">Language</span></dt>
        <dd>
          <span>{{ course.language }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.course.teachingHour" [ngbTooltip]="'sudexApp.course.help.teachingHour' | translate"
            >Teaching Hour</span
          >
        </dt>
        <dd>
          <span>{{ course.teachingHour }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.course.startedAt" [ngbTooltip]="'sudexApp.course.help.startedAt' | translate">Started At</span>
        </dt>
        <dd>
          <span>{{ course.startedAt | formatMediumDatetime }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.course.finishedAt" [ngbTooltip]="'sudexApp.course.help.finishedAt' | translate">Finished At</span>
        </dt>
        <dd>
          <span>{{ course.finishedAt | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/course', course.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
