<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-question-heading" data-cy="QuestionCreateUpdateHeading" jhiTranslate="sudexApp.question.home.createOrEditLabel">
        Create or edit a Question
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.question.name"
            for="field_name"
            [ngbTooltip]="'sudexApp.question.help.name' | translate"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.question.requiredScore"
            for="field_requiredScore"
            [ngbTooltip]="'sudexApp.question.help.requiredScore' | translate"
            >Required Score</label
          >
          <input
            type="number"
            class="form-control"
            name="requiredScore"
            id="field_requiredScore"
            data-cy="requiredScore"
            formControlName="requiredScore"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.question.type"
            for="field_type"
            [ngbTooltip]="'sudexApp.question.help.type' | translate"
            >Type</label
          >
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'sudexApp.QuestionType.null' | translate }}</option>
            <option *ngFor="let questionType of questionTypeValues" [value]="questionType">
              {{ 'sudexApp.QuestionType.' + questionType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sudexApp.question.test" for="field_test">Test</label>
          <select class="form-control" id="field_test" data-cy="test" name="test" formControlName="test" [compareWith]="compareTopicTest">
            <option [ngValue]="null"></option>
            <option [ngValue]="topicTestOption" *ngFor="let topicTestOption of topicTestsSharedCollection">
              {{ topicTestOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
