<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="answer">
      <h2 data-cy="answerDetailsHeading"><span jhiTranslate="sudexApp.answer.detail.title">Answer</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ answer.id }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.answer.name" [ngbTooltip]="'sudexApp.answer.help.name' | translate">Name</span></dt>
        <dd>
          <span>{{ answer.name }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.answer.score" [ngbTooltip]="'sudexApp.answer.help.score' | translate">Score</span></dt>
        <dd>
          <span>{{ answer.score }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.answer.isCorrect" [ngbTooltip]="'sudexApp.answer.help.isCorrect' | translate">Is Correct</span>
        </dt>
        <dd>
          <span>{{ answer.isCorrect }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.answer.question">Question</span></dt>
        <dd>
          <div *ngIf="answer.question">
            <a [routerLink]="['/question', answer.question.id, 'view']">{{ answer.question.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/answer', answer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
