<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="links">
      <h2 data-cy="linksDetailsHeading"><span jhiTranslate="sudexApp.links.detail.title">Links</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ links.id }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.links.name" [ngbTooltip]="'sudexApp.links.help.name' | translate">Name</span></dt>
        <dd>
          <span>{{ links.name }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.links.assessment">Assessment</span></dt>
        <dd>
          <div *ngIf="links.assessment">
            <a [routerLink]="['/assessment', links.assessment.id, 'view']">{{ links.assessment.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/links', links.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
