<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-answer-heading" data-cy="AnswerCreateUpdateHeading" jhiTranslate="sudexApp.answer.home.createOrEditLabel">
        Create or edit a Answer
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.answer.name"
            for="field_name"
            [ngbTooltip]="'sudexApp.answer.help.name' | translate"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.answer.score"
            for="field_score"
            [ngbTooltip]="'sudexApp.answer.help.score' | translate"
            >Score</label
          >
          <input type="number" class="form-control" name="score" id="field_score" data-cy="score" formControlName="score" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.answer.isCorrect"
            for="field_isCorrect"
            [ngbTooltip]="'sudexApp.answer.help.isCorrect' | translate"
            >Is Correct</label
          >
          <input type="checkbox" class="form-check" name="isCorrect" id="field_isCorrect" data-cy="isCorrect" formControlName="isCorrect" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sudexApp.answer.question" for="field_question">Question</label>
          <select
            class="form-control"
            id="field_question"
            data-cy="question"
            name="question"
            formControlName="question"
            [compareWith]="compareQuestion"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="questionOption" *ngFor="let questionOption of questionsSharedCollection">{{ questionOption.name }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
