<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="attachment">
      <h2 data-cy="attachmentDetailsHeading"><span jhiTranslate="sudexApp.attachment.detail.title">Attachment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ attachment.id }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.attachment.name" [ngbTooltip]="'sudexApp.attachment.help.name' | translate">Name</span></dt>
        <dd>
          <span>{{ attachment.name }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.attachment.fileOriginalName" [ngbTooltip]="'sudexApp.attachment.help.fileOriginalName' | translate"
            >File Original Name</span
          >
        </dt>
        <dd>
          <span>{{ attachment.fileOriginalName }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.attachment.fileSize" [ngbTooltip]="'sudexApp.attachment.help.fileSize' | translate">File Size</span>
        </dt>
        <dd>
          <span>{{ attachment.fileSize }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.attachment.contentType" [ngbTooltip]="'sudexApp.attachment.help.contentType' | translate"
            >Content Type</span
          >
        </dt>
        <dd>
          <span>{{ attachment.contentType }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.attachment.topic">Topic</span></dt>
        <dd>
          <div *ngIf="attachment.topic">
            <a [routerLink]="['/topic', attachment.topic.id, 'view']">{{ attachment.topic.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/attachment', attachment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
