<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-specialization-heading"
        data-cy="SpecializationCreateUpdateHeading"
        jhiTranslate="sudexApp.specialization.home.createOrEditLabel"
      >
        Create or edit a Specialization
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.specialization.name"
            for="field_name"
            [ngbTooltip]="'sudexApp.specialization.help.name' | translate"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.specialization.centre"
            for="field_centre"
            [ngbTooltip]="'sudexApp.specialization.help.centre' | translate"
            >Centre</label
          >
          <select class="form-control" name="centre" formControlName="centre" id="field_centre" data-cy="centre">
            <option [ngValue]="null">{{ 'sudexApp.Centre.null' | translate }}</option>
            <option *ngFor="let centre of centreValues" [value]="centre">{{ 'sudexApp.Centre.' + centre | translate }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
