<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="topicTest">
      <h2 data-cy="topicTestDetailsHeading"><span jhiTranslate="sudexApp.topicTest.detail.title">Topic Test</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ topicTest.id }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.topicTest.name" [ngbTooltip]="'sudexApp.topicTest.help.name' | translate">Name</span></dt>
        <dd>
          <span>{{ topicTest.name }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.topicTest.assessment">Assessment</span></dt>
        <dd>
          <div *ngIf="topicTest.assessment">
            <a [routerLink]="['/assessment', topicTest.assessment.id, 'view']">{{ topicTest.assessment.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/topic-test', topicTest.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
