<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="glossary">
      <h2 data-cy="glossaryDetailsHeading"><span jhiTranslate="sudexApp.glossary.detail.title">Glossary</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ glossary.id }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.glossary.name" [ngbTooltip]="'sudexApp.glossary.help.name' | translate">Name</span></dt>
        <dd>
          <span>{{ glossary.name }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.glossary.assessment">Assessment</span></dt>
        <dd>
          <div *ngIf="glossary.assessment">
            <a [routerLink]="['/assessment', glossary.assessment.id, 'view']">{{ glossary.assessment.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/glossary', glossary.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
