<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="listener">
      <h2 data-cy="listenerDetailsHeading"><span jhiTranslate="sudexApp.listener.detail.title">Listener</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ listener.id }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.listener.phone" [ngbTooltip]="'sudexApp.listener.help.phone' | translate">Phone</span></dt>
        <dd>
          <span>{{ listener.phone }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.listener.region" [ngbTooltip]="'sudexApp.listener.help.region' | translate">Region</span></dt>
        <dd>
          <span>{{ listener.region }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.listener.workplace" [ngbTooltip]="'sudexApp.listener.help.workplace' | translate">Workplace</span>
        </dt>
        <dd>
          <span>{{ listener.workplace }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.listener.dateOfBirth" [ngbTooltip]="'sudexApp.listener.help.dateOfBirth' | translate"
            >Date Of Birth</span
          >
        </dt>
        <dd>
          <span>{{ listener.dateOfBirth }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.listener.condition" [ngbTooltip]="'sudexApp.listener.help.condition' | translate">Condition</span>
        </dt>
        <dd>
          <span jhiTranslate="{{ 'sudexApp.ConditionType.' + listener.condition }}">{{ listener.condition }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.listener.type" [ngbTooltip]="'sudexApp.listener.help.type' | translate">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'sudexApp.StudyType.' + listener.type }}">{{ listener.type }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.listener.user">User</span></dt>
        <dd>
          <span>{{ listener.user?.id }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.listener.contract">Contract</span></dt>
        <dd>
          <div *ngIf="listener.contract">
            <a [routerLink]="['/attachment', listener.contract.id, 'view']">{{ listener.contract.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="sudexApp.listener.course">Course</span></dt>
        <dd>
          <div *ngIf="listener.course">
            <a [routerLink]="['/course', listener.course.id, 'view']">{{ listener.course.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/listener', listener.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
