<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="testResult">
      <h2 data-cy="testResultDetailsHeading"><span jhiTranslate="sudexApp.testResult.detail.title">Test Result</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ testResult.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.testResult.startedAt" [ngbTooltip]="'sudexApp.testResult.help.startedAt' | translate"
            >Started At</span
          >
        </dt>
        <dd>
          <span>{{ testResult.startedAt | formatMediumDatetime }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.testResult.finishedAt" [ngbTooltip]="'sudexApp.testResult.help.finishedAt' | translate"
            >Finished At</span
          >
        </dt>
        <dd>
          <span>{{ testResult.finishedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.testResult.score" [ngbTooltip]="'sudexApp.testResult.help.score' | translate">Score</span></dt>
        <dd>
          <span>{{ testResult.score }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.testResult.correctAnswers" [ngbTooltip]="'sudexApp.testResult.help.correctAnswers' | translate"
            >Correct Answers</span
          >
        </dt>
        <dd>
          <span>{{ testResult.correctAnswers }}</span>
        </dd>
        <dt><span jhiTranslate="sudexApp.testResult.test">Test</span></dt>
        <dd>
          <div *ngIf="testResult.test">
            <a [routerLink]="['/topic-test', testResult.test.id, 'view']">{{ testResult.test.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/test-result', testResult.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
