<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-topic-test-heading" data-cy="TopicTestCreateUpdateHeading" jhiTranslate="sudexApp.topicTest.home.createOrEditLabel">
        Create or edit a Topic Test
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.topicTest.name"
            for="field_name"
            [ngbTooltip]="'sudexApp.topicTest.help.name' | translate"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sudexApp.topicTest.assessment" for="field_assessment">Assessment</label>
          <select
            class="form-control"
            id="field_assessment"
            data-cy="assessment"
            name="assessment"
            formControlName="assessment"
            [compareWith]="compareAssessment"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="assessmentOption" *ngFor="let assessmentOption of assessmentsSharedCollection">
              {{ assessmentOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
