<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-test-result-heading" data-cy="TestResultCreateUpdateHeading" jhiTranslate="sudexApp.testResult.home.createOrEditLabel">
        Create or edit a Test Result
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.testResult.startedAt"
            for="field_startedAt"
            [ngbTooltip]="'sudexApp.testResult.help.startedAt' | translate"
            >Started At</label
          >
          <div class="d-flex">
            <input
              id="field_startedAt"
              data-cy="startedAt"
              type="datetime-local"
              class="form-control"
              name="startedAt"
              formControlName="startedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.testResult.finishedAt"
            for="field_finishedAt"
            [ngbTooltip]="'sudexApp.testResult.help.finishedAt' | translate"
            >Finished At</label
          >
          <div class="d-flex">
            <input
              id="field_finishedAt"
              data-cy="finishedAt"
              type="datetime-local"
              class="form-control"
              name="finishedAt"
              formControlName="finishedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.testResult.score"
            for="field_score"
            [ngbTooltip]="'sudexApp.testResult.help.score' | translate"
            >Score</label
          >
          <input type="number" class="form-control" name="score" id="field_score" data-cy="score" formControlName="score" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="sudexApp.testResult.correctAnswers"
            for="field_correctAnswers"
            [ngbTooltip]="'sudexApp.testResult.help.correctAnswers' | translate"
            >Correct Answers</label
          >
          <input
            type="number"
            class="form-control"
            name="correctAnswers"
            id="field_correctAnswers"
            data-cy="correctAnswers"
            formControlName="correctAnswers"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sudexApp.testResult.test" for="field_test">Test</label>
          <select class="form-control" id="field_test" data-cy="test" name="test" formControlName="test" [compareWith]="compareTopicTest">
            <option [ngValue]="null"></option>
            <option [ngValue]="topicTestOption" *ngFor="let topicTestOption of topicTestsSharedCollection">{{ topicTestOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
