<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="specialization">
      <h2 data-cy="specializationDetailsHeading"><span jhiTranslate="sudexApp.specialization.detail.title">Specialization</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ specialization.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.specialization.name" [ngbTooltip]="'sudexApp.specialization.help.name' | translate">Name</span>
        </dt>
        <dd>
          <span>{{ specialization.name }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sudexApp.specialization.centre" [ngbTooltip]="'sudexApp.specialization.help.centre' | translate">Centre</span>
        </dt>
        <dd>
          <span jhiTranslate="{{ 'sudexApp.Centre.' + specialization.centre }}">{{ specialization.centre }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/specialization', specialization.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
